@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models


<!-- why choose us -->
<section class="choose-us">
    <div class="choose-us-box"></div>
    <div class="container">
        <div class="choose-us-content">
            <h5 class="orange-text">@Model.Value("chooseUsSmallTitle")</h5>
            <h3 class="choose-us-title">@Model.Value("chooseUsTitle")</h3>
            @Html.GetBlockListHtml(Model.ChooseUs)
        </div>
        <div class="choose-us-image">
        
            @{
                var chooseUsImage = Model.Value<MediaWithCrops>("chooseUsImage");
                if (chooseUsImage != null)
                {
                    <img src = "@chooseUsImage.MediaUrl()" alt = "@Model.Value("chooseUsTitle")">
                }      
            }
        
        </div>
    </div>
</section>