@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<!-- features -->
<section class="features">
    <div class="container">
        <div class="features-info">
            <h5 class="features-text">@Model.Value("featuresSmallTitle")</h5>
            <h3 class="features-title">@Model.Value("featuresTitle")</h3>
            <a href="@Model.Value("featuresButtonUrl")" class="theme-btn border">@Model.Value("featuresButtonText") <i class="fa-light fa-arrow-up-right"></i></a>
        </div>
        <div class="features-categories">
            @Html.GetBlockListHtml(Model.ServiceFeatures)
        </div>
    </div>
</section>