@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<h5 class="orange-text">@Model.Value("ourTeamSmallTitle")</h5>
<div class="team">
    <h3 class="our-team-title">@Model.Value("ourTeamTitle")</h3>
    <a href="@Model.Value("ourTeamButtonUrl")" class="beige-theme-btn">@Model.Value("ourTeamButtonText") <i class="fa-light fa-arrow-up-right"></i></a>
</div>
<div class="members">
    @Html.GetBlockListHtml(Model.OurTeamMembers)
</div>