@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<!-- Our Services -->
<section class="our-services">
    <img src="~/images/backgrounds-effects/background-lines-right.svg">
    <div class="container">
        <h5 class="orange-text">@Model.Value("ourServicesSmallTitle")</h5>
        <h3 class="our-services-title">@Model.Value("ourServicesTitle")</h3>
        <div class="content-boxes">
            @Html.GetBlockListHtml(Model.OurServices)
        </div>
        <div class="flex-btn">
            <a href="@Model.Value("ourServicesButtonUrl")" class="beige-theme-btn">@Model.Value("ourServicesButtonText") <i class="fa-light fa-arrow-up-right"></i></a>
        </div>
    </div>
</section>