@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<!-- project & case studies -->
<section class="global-project">
    <div class="container">
        <h5 class="orange-text">@Model.Value("studiesSmallTitle")</h5>
        <h3 class="global-project-title">@Model.Value("studiesTitle")</h3>
        <div class="global-project-content">
            @Html.GetBlockListHtml(Model.StudiesService)
        </div>
        <a href="@Model.Value("studiesButtonUrl")" class="black-theme-btn">@Model.Value("studiesButtonText") <i class="fa-light fa-arrow-up-right"></i></a>
    </div>
</section>