@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "_LayoutWithBreadcrumb.cshtml";

    var contactForm = new Crito.Models.ContactForm();
}

@await Html.PartialAsync("_CompanyInfo")

<!-- contact-us -->
<section class="contact-us">
    <div class="container">
        <h3 class="contact-us-title">Leave us a message for any information.</h3>
        
        
        @using (Html.BeginUmbracoForm("Index", "Contacts", FormMethod.Post))
        {
            <div class="contact-form">
                @*<div asp-validation-summary="All"></div>*@

                <input asp-for="@contactForm.Name" type="text" placeholder="Name*" onkeyup="validateName(event)">
                <span asp-validation-for="@contactForm.Name" class="invalid" id="errorName"></span>
            
                <input asp-for="@contactForm.Email" type="email" placeholder="Email*" onkeyup="validateEmail(event)">
                <span asp-validation-for="@contactForm.Email" class="invalid" id="errorEmail"></span>

                <textarea asp-for="@contactForm.Message" placeholder="Your Message*" onkeyup="validateMessage(event)"></textarea>
                <span asp-validation-for="@contactForm.Message" class="invalid" id="errorMessage"></span>
            
                <button type="submit" class="theme-btn">Send Message <i class="fa-light fa-arrow-up-right"></i></button>
            </div>
        }
    </div>
</section>

@await Html.PartialAsync("_GoogleMapSection")